footer {
    height: 50px;
    width: 100%;
    background-color: brown;
    position: fixed;
    bottom: 0;
    display: flex;
}

.footerbar{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    column-gap: 20px;
    justify-content: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.elem{margin: auto;}