
.navbar {
    background-color: brown;
    color           : beige;
    font-size       : 20px;
    padding         : 10px;
    text-align      : center;
    width           : 100%;
    height          : 70px;
    position        : fixed;
    top             : 0;
    left            : 0;
    z-index         : 2;
    display         : flex;
    justify-content : space-around;
    margin-right    : auto;
    margin-left     : auto;
    margin-top: auto;
    margin-bottom: auto;
}

header{
  
    margin-bottom: 0px;
    height: 90px;
}


.navbar .navbutton {
    color        : brown;
    font-size    : 20px;
    padding      : 10px;
    text-align   : center;
    width        : 100px;
    height       : 50px;
    border       : 1px solid brown;
    border-radius: 10px;
    cursor       : pointer;
    margin-top: auto;
    margin-bottom: auto;
}

form{
    margin-top: auto;
    margin-bottom: auto;
}


header h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size  : 50px;
    color      : brown;
    text-align : center;
    flex-shrink: 1;
    flex-grow  : 0;
    font-weight: bolder;
}

.infoHeader {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    color: #020202;
    padding: 5px;
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    justify-content: center;
    column-gap: 20px;
    height: 70px;
    margin-top: 90px;
}

.infoHeader h4 {
    margin: auto 0 auto 0;
}

.infoHeader p {
    margin: auto 0 auto;
}

.propic {
    width: 50px;
    border-radius: 100px;
    border: bisque;
    background-color: #9d2424;
    height: 50px;
    margin: auto 0 auto 0;
    
}